* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calc {
    height: 40rem;
    width: 30rem;
    background-color: rgb(37, 37, 37);
    display: grid;
    gap: 0.3rem;
    padding: 0.7rem;
    border: 5px outset black;
    grid-template-columns: repeat(4, 1fr);
}

button {
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

button:focus {
    animation: press 0.5s linear forwards
}

@keyframes press {
    50% {
        transform: perspective(500px) translateZ(-40px);
    }
    100% {
        transform: perspective(500px) translateZ(0px);
    } 
}

.screen {
    background-color: rgba(220, 220, 220);
    border: 7px inset rgb(189, 188, 188);
    grid-column: span 4 / auto;
    font-size: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    min-height: 5rem;
}

.key {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 10px outset #ffffff;
}

.plus {
    grid-row: span 2 / auto;
    background-color: #932066;
    border: 10px outset #a52473;
}

.equals {
    grid-row: span 2 / auto;
    background-color: #6f1c58;
    border: 10px outset #7e2063;
}

.zero {
    grid-column: span 2 / auto;
    background-color: rgb(189, 188, 188);
    border: 10px outset rgba(220, 220, 220);
}

.dot {
    background-color: rgb(189, 188, 188);
    border: 10px outset rgba(220, 220, 220);
}

.ac {
    background-color: #ffc738;
    border: 10px outset #fcd269;
}

.slash {
    background-color: #f47c33;
    border: 10px outset #ff863a;
    
}

.x {
    background-color: #f05122;
    border: 10px outset #ff5f2e;
}

.minus {
    background-color: #e22126;
    border: 10px outset #ff2a31;
}