* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 28px;
}

.container {
    background-color: #e0e0e0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.board {
    height: 50vh;
    width: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    gap: 5px;
    border: 5px solid black;
}

.space {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.below {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reset {
    visibility: hidden;
}

