* {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
}

.header-links {
    color: #cfcfcf;
    font-size: 18px;
    display: flex;
    margin: 0;
    gap: 30px;
    margin-left: -40px;
    margin-bottom: 100px;
}

.link-one {
    margin-left: auto;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.intro {
    display: flex;
}

.intro-image {
    width: 0;
    flex: 1 1 0px;
    padding-bottom: 125px;
}

.intro .content {
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}


.button {
    width: 140px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: -10px;
    margin-top: 10px;
}

.secondary {
    font-size: 18px;
    color: #cfcfcf;
    margin-right: 70px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info .content {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    color: #5e5e5e;
}

.info .heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 40px;
}
.column {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.image {
    border: 3px solid #3882f6; 
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.column .text {

}


