* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
}

.header {
    display: flex;
    height: 8vh;
    background-color: #88bef5;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.title {
    position: absolute;
    left: 0;
    padding-left: 1rem;
    font-size: 30px;
}

#country {
    -webkit-appearance: menulist-button;
    height: 4.5vh;
    width: 5vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}

#location {
    height: 4.5vh;
    width: 40rem;
    border-radius: 20px;
    padding: 1rem;
    padding-left: 2rem;
    border: none;
}

#go {
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 233, 233);
}

.container {
    display: flex;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #a5cef7;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 3rem;
    width: 30vw;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.hl {
    display: flex;
    gap: 1rem;
}

.feel, .humidity, .wind {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 30vw;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.name {
    font-size: 28px;
}

.current {
    font-size: 80px;
}